
@font-face {
  font-family: '190803-Regular';
  src: url('190803-Regular.eot?#iefix') format('embedded-opentype'),  url('190803-Regular.otf')  format('opentype'),
	     url('190803-Regular.woff') format('woff'), url('190803-Regular.ttf')  format('truetype'), url('190803-Regular.svg#190803-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
