
@font-face {
  font-family: '190810_3-Regular';
  src: url('190810_3-Regular.eot?#iefix') format('embedded-opentype'),  url('190810_3-Regular.otf')  format('opentype'),
	     url('190810_3-Regular.woff') format('woff'), url('190810_3-Regular.ttf')  format('truetype'), url('190810_3-Regular.svg#190810_3-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
